{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "",
      "timeout": 20000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "exportHistory": true,
      "history": []
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "removeCharset": false,
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "removeCharset": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "tailwindcss": {
        "rootDir": "",
        "content": [
          "**/*.html",
          "**/*.htm",
          "**/*.php",
          "**/*.js",
          "!wp-admin",
          "!wp-includes",
          "!node_modules",
          "!Prepros Export"
        ]
      },
      "turf": {
        "rootDir": ""
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "tailwindcss",
            "enable": false
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "babel",
            "enable": true
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "build/img/about-first.jpg",
        "config": {
          "optimized": true,
          "originalSize": 769956
        }
      },
      {
        "file": "build/img/about-second.jpg",
        "config": {
          "optimized": true,
          "originalSize": 960530
        }
      },
      {
        "file": "build/img/advantage-bg.jpg",
        "config": {
          "optimized": true,
          "originalSize": 1225574
        }
      },
      {
        "file": "build/img/advantage-case-bg-sm.jpg",
        "config": {
          "optimized": true,
          "originalSize": 286886
        }
      },
      {
        "file": "build/img/advantage-case-bg-sm.png",
        "config": {
          "optimized": true,
          "originalSize": 483647
        }
      },
      {
        "file": "build/img/advantage-case-bg.jpg",
        "config": {
          "optimized": true,
          "originalSize": 330908
        }
      },
      {
        "file": "build/img/advantage-case-bg.png",
        "config": {
          "optimized": true,
          "originalSize": 596636
        }
      },
      {
        "file": "build/img/advantage-case1-bg-sm.jpg",
        "config": {
          "optimized": true,
          "originalSize": 445268
        }
      },
      {
        "file": "build/img/advantage-case1-bg-sm.png",
        "config": {
          "optimized": true,
          "originalSize": 837109
        }
      },
      {
        "file": "build/img/advantage-case1-bg.jpg",
        "config": {
          "optimized": true,
          "originalSize": 483776
        }
      },
      {
        "file": "build/img/advantage-case1-bg.png",
        "config": {
          "optimized": true,
          "originalSize": 951522
        }
      },
      {
        "file": "build/img/advantage-case2-bg-sm.jpg",
        "config": {
          "optimized": true,
          "originalSize": 303228
        }
      },
      {
        "file": "build/img/advantage-case2-bg-sm.png",
        "config": {
          "optimized": true,
          "originalSize": 545089
        }
      },
      {
        "file": "build/img/advantage-case2-bg.jpg",
        "config": {
          "optimized": true,
          "originalSize": 351424
        }
      },
      {
        "file": "build/img/advantage-case2-bg.png",
        "config": {
          "optimized": true,
          "originalSize": 643174
        }
      },
      {
        "file": "build/img/arrow.svg",
        "config": {
          "optimized": true,
          "originalSize": 302
        }
      },
      {
        "file": "build/img/bg/about-first.jpg",
        "config": {
          "optimized": true,
          "originalSize": 1653420
        }
      },
      {
        "file": "build/img/bg/calc-bg.png",
        "config": {
          "optimized": true,
          "originalSize": 6076913
        }
      },
      {
        "file": "build/img/bg/calc-sm-bg.png",
        "config": {
          "optimized": true,
          "originalSize": 139090
        }
      },
      {
        "file": "build/img/bg/design-bg.png",
        "config": {
          "optimized": true,
          "originalSize": 743769
        }
      },
      {
        "file": "build/img/bg/equipment-bg.png",
        "config": {
          "optimized": true,
          "originalSize": 4868281
        }
      },
      {
        "file": "build/img/bg/hero-bg.jpg",
        "config": {
          "optimized": true,
          "originalSize": 371212
        }
      },
      {
        "file": "build/img/bg/hero-sm-bg.jpg",
        "config": {
          "optimized": true,
          "originalSize": 135285
        }
      },
      {
        "file": "build/img/bg/hosting-bg.png",
        "config": {
          "optimized": true,
          "originalSize": 3220486
        }
      },
      {
        "file": "build/img/bg/mining-bg.png",
        "config": {
          "optimized": true,
          "originalSize": 353551
        }
      },
      {
        "file": "build/img/bg/services-bg-sm.png",
        "config": {
          "optimized": true,
          "originalSize": 1397081
        }
      },
      {
        "file": "build/img/bg/services-bg.png",
        "config": {
          "optimized": true,
          "originalSize": 2578648
        }
      },
      {
        "file": "build/img/btn-bg.png",
        "config": {
          "optimized": true,
          "originalSize": 3391
        }
      },
      {
        "file": "build/img/btn1-bg.png",
        "config": {
          "optimized": true,
          "originalSize": 3450
        }
      },
      {
        "file": "build/img/button-border.svg",
        "config": {
          "optimized": true,
          "originalSize": 338
        }
      },
      {
        "file": "build/img/calc-page-bg.jpg",
        "config": {
          "optimized": true,
          "originalSize": 1583478
        }
      },
      {
        "file": "build/img/case.png",
        "config": {
          "optimized": true,
          "originalSize": 908647
        }
      },
      {
        "file": "build/img/case2.png",
        "config": {
          "optimized": true,
          "originalSize": 873750
        }
      },
      {
        "file": "build/img/case3.png",
        "config": {
          "optimized": true,
          "originalSize": 863206
        }
      },
      {
        "file": "build/img/case4.png",
        "config": {
          "optimized": true,
          "originalSize": 686912
        }
      },
      {
        "file": "build/img/data-bg.jpg",
        "config": {
          "optimized": true,
          "originalSize": 1880013
        }
      },
      {
        "file": "build/img/data-item.png",
        "config": {
          "optimized": true,
          "originalSize": 35352
        }
      },
      {
        "file": "build/img/data-item1.png",
        "config": {
          "optimized": true,
          "originalSize": 71763
        }
      },
      {
        "file": "build/img/data-item2.png",
        "config": {
          "optimized": true,
          "originalSize": 43491
        }
      },
      {
        "file": "build/img/data-item3.png",
        "config": {
          "optimized": true,
          "originalSize": 65530
        }
      },
      {
        "file": "build/img/data-item4.png",
        "config": {
          "optimized": true,
          "originalSize": 51491
        }
      },
      {
        "file": "build/img/data-item5.png",
        "config": {
          "optimized": true,
          "originalSize": 48411
        }
      },
      {
        "file": "build/img/data-item6.png",
        "config": {
          "optimized": true,
          "originalSize": 74272
        }
      },
      {
        "file": "build/img/data-item7.png",
        "config": {
          "optimized": true,
          "originalSize": 92236
        }
      },
      {
        "file": "build/img/design-bg.jpg",
        "config": {
          "optimized": true,
          "originalSize": 5283536
        }
      },
      {
        "file": "build/img/design-item-sm.png",
        "config": {
          "optimized": true,
          "originalSize": 705117
        }
      },
      {
        "file": "build/img/design-item-sm1.png",
        "config": {
          "optimized": true,
          "originalSize": 675858
        }
      },
      {
        "file": "build/img/design-item-sm2.png",
        "config": {
          "optimized": true,
          "originalSize": 700606
        }
      },
      {
        "file": "build/img/design-item-sm3.png",
        "config": {
          "optimized": true,
          "originalSize": 745688
        }
      },
      {
        "file": "build/img/design-item-sm4.png",
        "config": {
          "optimized": true,
          "originalSize": 750160
        }
      },
      {
        "file": "build/img/design-item-sm5.png",
        "config": {
          "optimized": true,
          "originalSize": 697234
        }
      },
      {
        "file": "build/img/design-item.png",
        "config": {
          "optimized": true,
          "originalSize": 729314
        }
      },
      {
        "file": "build/img/design-item1.png",
        "config": {
          "optimized": true,
          "originalSize": 685591
        }
      },
      {
        "file": "build/img/design-item2.png",
        "config": {
          "optimized": true,
          "originalSize": 711423
        }
      },
      {
        "file": "build/img/design-item3.png",
        "config": {
          "optimized": true,
          "originalSize": 735944
        }
      },
      {
        "file": "build/img/design-item4.png",
        "config": {
          "optimized": true,
          "originalSize": 767104
        }
      },
      {
        "file": "build/img/design-item5.png",
        "config": {
          "optimized": true,
          "originalSize": 707629
        }
      },
      {
        "file": "build/img/equipment-bg.jpg",
        "config": {
          "optimized": true,
          "originalSize": 7023198
        }
      },
      {
        "file": "build/img/equipment-item-sm.png",
        "config": {
          "optimized": true,
          "originalSize": 740298
        }
      },
      {
        "file": "build/img/equipment-item-sm1.png",
        "config": {
          "optimized": true,
          "originalSize": 687786
        }
      },
      {
        "file": "build/img/equipment-item-sm2.png",
        "config": {
          "optimized": true,
          "originalSize": 709155
        }
      },
      {
        "file": "build/img/equipment-item-sm3.png",
        "config": {
          "optimized": true,
          "originalSize": 744483
        }
      },
      {
        "file": "build/img/equipment-item.png",
        "config": {
          "optimized": true,
          "originalSize": 811458
        }
      },
      {
        "file": "build/img/equipment-item1.png",
        "config": {
          "optimized": true,
          "originalSize": 718628
        }
      },
      {
        "file": "build/img/equipment-item2.png",
        "config": {
          "optimized": true,
          "originalSize": 749531
        }
      },
      {
        "file": "build/img/equipment-item3.png",
        "config": {
          "optimized": true,
          "originalSize": 789838
        }
      },
      {
        "file": "build/img/equipment-page-bg.jpg",
        "config": {
          "optimized": true,
          "originalSize": 2537576
        }
      },
      {
        "file": "build/img/equipment-page-form.jpg",
        "config": {
          "optimized": true,
          "originalSize": 1363729
        }
      },
      {
        "file": "build/img/equipment-page-services-bg.jpg",
        "config": {
          "optimized": true,
          "originalSize": 4416058
        }
      },
      {
        "file": "build/img/equipment-page-services-bg.png",
        "config": {
          "optimized": true,
          "originalSize": 4868281
        }
      },
      {
        "file": "build/img/equipment-page-services-calc-bg.jpg",
        "config": {
          "optimized": true,
          "originalSize": 2826288
        }
      },
      {
        "file": "build/img/equipment.png",
        "config": {
          "optimized": true,
          "originalSize": 624926
        }
      },
      {
        "file": "build/img/form-bg.jpg",
        "config": {
          "optimized": true,
          "originalSize": 1372145
        }
      },
      {
        "file": "build/img/form1-bg.jpg",
        "config": {
          "optimized": true,
          "originalSize": 2943689
        }
      },
      {
        "file": "build/img/form1-bg.png",
        "config": {
          "optimized": true,
          "originalSize": 4211678
        }
      },
      {
        "file": "build/img/hosting-bg.jpg",
        "config": {
          "optimized": true,
          "originalSize": 5050929
        }
      },
      {
        "file": "build/img/hosting-item-sm.png",
        "config": {
          "optimized": true,
          "originalSize": 714147
        }
      },
      {
        "file": "build/img/hosting-item-sm1.png",
        "config": {
          "optimized": true,
          "originalSize": 698079
        }
      },
      {
        "file": "build/img/hosting-item-sm2.png",
        "config": {
          "optimized": true,
          "originalSize": 673519
        }
      },
      {
        "file": "build/img/hosting-item-sm3.png",
        "config": {
          "optimized": true,
          "originalSize": 654970
        }
      },
      {
        "file": "build/img/hosting-item.png",
        "config": {
          "optimized": true,
          "originalSize": 758592
        }
      },
      {
        "file": "build/img/hosting-item1.png",
        "config": {
          "optimized": true,
          "originalSize": 724843
        }
      },
      {
        "file": "build/img/hosting-item2.png",
        "config": {
          "optimized": true,
          "originalSize": 695383
        }
      },
      {
        "file": "build/img/hosting-item3.png",
        "config": {
          "optimized": true,
          "originalSize": 667486
        }
      },
      {
        "file": "build/img/input-shadow.png",
        "config": {
          "optimized": true,
          "originalSize": 47960
        }
      },
      {
        "file": "build/img/logo.png",
        "config": {
          "optimized": true,
          "originalSize": 834
        }
      },
      {
        "file": "build/img/progress-bg.jpg",
        "config": {
          "optimized": true,
          "originalSize": 690923
        }
      },
      {
        "file": "build/img/services-bg.jpg",
        "config": {
          "optimized": true,
          "originalSize": 3582504
        }
      },
      {
        "file": "build/img/services/S_01.jpg",
        "config": {
          "optimized": true,
          "originalSize": 94444
        }
      },
      {
        "file": "build/img/services/S_02.jpg",
        "config": {
          "optimized": true,
          "originalSize": 87905
        }
      },
      {
        "file": "build/img/services/S_03.jpg",
        "config": {
          "optimized": true,
          "originalSize": 175287
        }
      },
      {
        "file": "img/button-border.svg",
        "config": {
          "customOutput": "build/img/button-border.svg",
          "optimized": true,
          "originalSize": 429
        }
      },
      {
        "file": "img/logo.png",
        "config": {
          "customOutput": "build/logo.png",
          "optimized": true,
          "originalSize": 1466
        }
      },
      {
        "file": "img/services/S_01.jpg",
        "config": {
          "customOutput": "build/img/services/S_01.jpg",
          "optimized": true,
          "originalSize": 707960
        }
      },
      {
        "file": "img/services/S_02.jpg",
        "config": {
          "customOutput": "build/img/services/S_02.jpg",
          "optimized": true,
          "originalSize": 634742
        }
      },
      {
        "file": "img/services/S_03.jpg",
        "config": {
          "customOutput": "build/img/services/S_03.jpg",
          "optimized": true,
          "originalSize": 945150
        }
      },
      {
        "file": "img/social/tg.svg",
        "config": {
          "customOutput": "build/img/social/tg.svg",
          "optimized": true,
          "originalSize": 789
        }
      },
      {
        "file": "img/social/whatsapp.svg",
        "config": {
          "customOutput": "build/img/social/whatsapp.svg",
          "optimized": true,
          "originalSize": 1527
        }
      },
      {
        "file": "src/about.pug",
        "config": {
          "customOutput": "build/about.html"
        }
      },
      {
        "file": "src/calc.pug",
        "config": {
          "customOutput": "build/calc.html"
        }
      },
      {
        "file": "src/equipment.pug",
        "config": {
          "customOutput": "build/equipment.html"
        }
      },
      {
        "file": "src/img/bg/calc-bg.png",
        "config": {
          "customOutput": "build/img/bg/calc-bg.png"
        }
      },
      {
        "file": "src/img/bg/calc-sm-bg.png",
        "config": {
          "customOutput": "build/img/bg/calc-sm-bg.png"
        }
      },
      {
        "file": "src/img/bg/design-bg.png",
        "config": {
          "customOutput": "build/img/bg/design-bg.png",
          "optimized": true,
          "originalSize": 2934247
        }
      },
      {
        "file": "src/img/bg/hero-sm-bg.jpg",
        "config": {
          "customOutput": "build/img/bg/design-bg.png",
          "optimized": true,
          "originalSize": 893346
        }
      },
      {
        "file": "src/img/bg/mining-bg.png",
        "config": {
          "customOutput": "build/img/bg/mining-bg.png",
          "optimized": true,
          "originalSize": 2854188
        }
      },
      {
        "file": "src/img/button-border.svg",
        "config": {
          "customOutput": "build/img/button-border.svg",
          "optimized": true,
          "originalSize": 429
        }
      },
      {
        "file": "src/img/logo.png",
        "config": {
          "customOutput": "build/img/logo.png",
          "optimized": true,
          "originalSize": 1466
        }
      },
      {
        "file": "src/img/services/S_01.jpg",
        "config": {
          "customOutput": "build/img/services/S_01.jpg",
          "optimized": true,
          "originalSize": 707960
        }
      },
      {
        "file": "src/img/services/S_02.jpg",
        "config": {
          "customOutput": "build/img/services/S_02.jpg",
          "optimized": true,
          "originalSize": 634742
        }
      },
      {
        "file": "src/img/services/S_03.jpg",
        "config": {
          "customOutput": "build/img/services/S_03.jpg",
          "optimized": true,
          "originalSize": 945150
        }
      },
      {
        "file": "src/img/social/tg.svg",
        "config": {
          "customOutput": "build/img/social/tg.svg",
          "optimized": true,
          "originalSize": 789
        }
      },
      {
        "file": "src/img/social/whatsapp.svg",
        "config": {
          "customOutput": "build/img/social/whatsapp.svg",
          "optimized": true,
          "originalSize": 1527
        }
      },
      {
        "file": "src/index.pug",
        "config": {
          "customOutput": "build/index.html"
        }
      },
      {
        "file": "src/js/about.js",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "build/about.js",
          "tasks": {
            "babel": {
              "enable": true
            }
          }
        }
      },
      {
        "file": "src/js/calc.js",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "build/calc.js",
          "tasks": {
            "babel": {
              "enable": true
            }
          }
        }
      },
      {
        "file": "src/js/equipment.js",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "build/equipment.js",
          "tasks": {
            "babel": {
              "enable": true
            }
          }
        }
      },
      {
        "file": "src/js/main.js",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "build/main.js",
          "tasks": {
            "babel": {
              "enable": true
            }
          }
        }
      },
      {
        "file": "src/scss/main.scss",
        "config": {
          "sourceMap": true,
          "customOutput": "build/main.css"
        }
      }
    ]
  }
}
