.btn {
  border: none;
  background: url('./img/btn-bg.png') no-repeat;
  background-size: contain;
  width: 171px;
  height: 38px;
  font-size: 16px;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &--cost {
    background: url('./img/btn1-bg.png') no-repeat;
    background-size: contain;
    width: 208px;
    height: 38px;
  }
}
.burger {
  display: block;
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  z-index: 5000;
  @media (min-width: 768px) {
    display: none;
  }
  &.isOpen {
    span {
      &:nth-child(1) {
        transform: translateY(8px) rotate(-45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-10px) rotate(45deg);
        width: 100%;
      }
    }
  }
  span {
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: $white;
    right: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
      width 0.3s ease-in-out;
    opacity: 1;
    &:nth-child(1) {
      top: 6px;
    }
    &:nth-child(2) {
      top: 15px;
    }
    &:nth-child(3) {
      width: 50%;
      top: 24px;
    }
  }
}
