.calc {
  // background: url('./img/bg/calc-sm-bg.png') no-repeat;
  // background-position: center;
  // background-size: cover;
  padding: 0 0 35px;
  @media (min-width: 992px) {
    background: url('./img/bg/calc-bg.png') no-repeat;
    background-position: center;
    background-size: cover;
    padding: 400px 0 250px;
    margin-top: -150px;
    min-height: 994px;
  }
  &__row {
    position: relative;
    z-index: 1000;
  }
  img {
    @media (min-width: 992px) {
      display: none;
    }
    // position: absolute;
    // left: 0;
    // right: 0;
    // top: 0;
  }
  h2 {
    max-width: 700px;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 1;
    font-size: 3.6rem;
    @media (min-width: 992px) {
      font-size: 5.6rem;
    }
  }
  p {
    font-size: 1.6rem;
    max-width: 630px;
    margin-bottom: 40px;
    @media (min-width: 992px) {
      font-size: 1.8rem;
    }
  }
}
