.equipment {
  background: url('./img/bg/equipment-bg.png') no-repeat;
  background-size: 170%;
  padding: 460px 0 0;
  margin-top: -100px;
  background-position: right top;
  // position: relative;
  // z-index: 1000;
  // background-position: 65%;
  // overflow: hidden;
  @media (min-width: 768px) {
    background-size: cover;
    padding: 1200px 0 0px;
    background-position: center;
    margin-top: -960px;
    min-height: 1920px;
  }
  &__row {
    position: relative;
    z-index: 1000;
  }
  .title {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 60px;
    @media (min-width: 1300px) {
      margin-bottom: 80px;
      flex-direction: row;
      gap: 125px;
    }
    h2 {
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1;
      max-width: 300px;
      @media (min-width: 768px) {
        font-size: 5.6rem;
        max-width: 500px;
      }
    }
    p {
      color: $white;
      font-size: 1.8rem;
      max-width: 430px;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    @media (min-width: 1300px) {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 30px;
    }
    li {
      max-width: 595px;
      width: 100%;
      height: 284px;
      padding: 20px;
      position: relative;
      z-index: 1000;
      @media (min-width: 992px) {
        padding: 50px 300px 50px 50px;
      }
      &:nth-child(1) {
        background: url('./img/equipment-item.png') no-repeat;
        background-size: cover;
        background-position: center;
      }
      &:nth-child(2) {
        background: url('./img/equipment-item1.png') no-repeat;
        background-size: cover;
        background-position: center;
      }
      &:nth-child(3) {
        background: url('./img/equipment-item2.png') no-repeat;
        background-size: cover;
        background-position: center;
      }
      &:nth-child(4) {
        background: url('./img/equipment-item3.png') no-repeat;
        background-size: cover;
        background-position: center;
      }
      h5 {
        font-size: 2.4rem;
        margin-bottom: 20px;
        line-height: 1;
      }
      p {
        font-size: 1.6rem;
      }
    }
  }
}
