.hero {
  background: url('./img/bg/hero-sm-bg.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  padding: 440px 0 0px;
  min-height: 850px;
  // position: relative;
  // z-index: 1000;
  @media (min-width: 768px) {
    padding: 230px 0 0px;
    background: url('./img/bg/hero-bg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 711px;
  }
  &__row {
    h1 {
      font-size: 36px;
      @media (min-width: 768px) {
        font-size: 64px;
      }
      line-height: 1;
      margin-bottom: 25px;
      font-weight: 400;
      max-width: 800px;
    }
    p {
      font-size: 16px;
      @media (min-width: 768px) {
        font-size: 18px;
      }
      margin-bottom: 25px;
      max-width: 550px;
    }
  }
}
