.about-page-first {
  background: url('./img/bg/about-first.jpg') no-repeat;
  background-size: cover;
  background-position: 75% -50px;
  min-height: 100vh;
  position: relative;
  z-index: 1000;
  padding: 500px 0 0px;

  @media (min-width: 992px) {
    background-position: center -50px;
    min-height: 1458px;
    padding: 300px 0 0px;
  }
  h2 {
    margin-bottom: 50px;
    line-height: 1.2;
    font-weight: 400;
    max-width: 800px;
    font-size: 3.6rem;
    @media (min-width: 992px) {
      font-size: 5.6rem;
    }
  }
  p {
    font-size: 1.8rem;
    max-width: 500px;
    line-height: 1.2;
    margin-bottom: 100px;
  }
}
.about-page-second {
  // background: url('./img/about-second.jpg') no-repeat;
  // padding: 0px;
  // background-size: cover;
  // background-position: 65%;
  // min-height: 950px;
  // position: relative;
  // z-index: 1000;
  @media (min-width: 768px) {
  }

  &__row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 50px;
    @media (min-width: 992px) {
      flex-direction: row;
      gap: 200px;
    }
    h5 {
      text-align: center;
      position: relative;
      font-weight: 400;
      background: linear-gradient(
        135deg,
        #ffffff 0%,
        #4154ff 50%,
        #4154ff 100%
      );
      color: transparent;
      background-clip: text;
      line-height: 1;
      font-family: $nunito;
      font-size: calc(140px + (240 - 140) * ((100vw - 320px) / (1920 - 320)));
      &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: -300px;
        height: 500px;
        filter: blur(200px);
        background: rgb(19, 28, 255) 0%;
        transform: translate3d(0, 0, 0);
        max-width: 100%;
        width: 100%;
        left: -50%;
        z-index: -10000;
        @media (min-width: 992px) {
          left: -70%;
          bottom: -300px;
        }
      }
    }
    div {
      max-width: 500px;
      height: 200px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
      @media (min-width: 992px) {
        padding-top: 30px;
      }
      p {
        &:first-child {
          font-size: 1.8rem;
          line-height: 1.2;
          @media (min-width: 992px) {
            font-size: 3.1rem;
          }
        }
        &:last-child {
          font-size: 1.4rem;
          line-height: 1.2;
          @media (min-width: 992px) {
            font-size: 2.7rem;
          }
        }
      }
    }
  }
}
.line-wrap {
  position: relative;
  height: 500vh;
  z-index: 1000;
  top: 20px;
  @media (min-width: 992px) {
    height: 500vh;
    // top: -500px;
    margin-top: -500px;
    // bottom: -700px;
  }
}
.line-inside {
  position: sticky;
  top: 100px;
  display: flex;
  flex-direction: column;
  // gap: 20px;
  @media (min-width: 992px) {
    gap: 80px;
    top: 120px;
  }
}
.svg-container {
  svg {
    margin: 20px 0;
    @media (min-width: 992px) {
      margin: 50px 0;
    }
  }
}
#the-line {
  fill: none;
  stroke: rgba(255, 255, 255, 0.4);
  stroke: rgba(255, 255, 255, 0.2);
  stroke-width: 1px;
}
#green-line {
  fill: none;
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 1px;
}
.years {
  max-width: 1220px;
  display: flex;
  margin: 30px auto 0;
  padding: 0 20px;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  @media (min-width: 992px) {
    justify-content: space-between;
    flex-direction: row;
    gap: 0;
  }
}
.years div {
  color: #fff;
  opacity: 0.2;
  font-size: 2.1rem;
  cursor: pointer;
  &.active {
    opacity: 1;
  }
}
// .el-box {
//   display: block;
//   position: fixed;
//   left: 0;
//   right: 0;
//   width: 100%;
//   overflow: hidden;
//   z-index: -10000;
//   height: 100%;
//   bottom: -500px;
//   top: 0;
//   .el {
//     display: block;
//     position: absolute;
//     bottom: -200px;
//     left: -200px;
//     content: '';
//     width: 1000px;
//     height: 1000px;
//     filter: blur(200px);
//     background: radial-gradient(
//       circle,
//       rgba(19, 28, 255, 1) 0%,
//       rgba(19, 28, 255, 0) 70%
//     );
//     opacity: 0.5;
//     transform: translate3d(0, 0, 0);
//   }
// }
