doctype html
html
head
    title="ЦК ГРУПП"
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name='description', content="")
    meta(name='keywords', content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes, viewport-fit=cover")
    meta(name="format-detection" content="telephone=no")
    link(rel="icon" type="image/x-icon" href="./favicon.ico")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@24.1.1/build/css/intlTelInput.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css")
    link(rel="stylesheet", href="./main.css")
body
    .wrap.wrap--about
        header.header
            .container
                .header__row
                    a(href="/").logo
                        img(src="./img/logo.png", alt="ЦК ГРУПП")
                    ul.menu
                        //- li.menu__item
                        //-     a(href='#').menu__link Услуги
                        li.menu__item
                            a(href='calc.html').menu__link Калькулятор
                        li.menu__item
                            a(href='equipment.html').menu__link Оборудование
                        li.menu__item.active
                            a(href='about.html').menu__link О нас
                        li.menu__item
                            button(type='button').btn.application Оставить заявку
                    button(type='button').btn.header__btn.application Оставить заявку
                    button(type='button').burger
                        span
                        span
                        span
        main.main.main--def
            section.about-page-first
                //- .mask
                .container
                    .about-pag-first__row
                        h2 Цифра Капитал Групп  — надежный гид в мире майнинга.
                        p Мы строим мощные «цифровые крепости», где каждый сервер — ступень  для вашего роста в доходе и знаниях.
            .line-wrap
                .line-inside
                    section.about-page-second
                        //- .mask
                        .container
                            .about-page-second__row
                                h5 2014
                                div
                                    p.text первые шаги в отрасли, знакомство с майнингом в домашних условиях
                                    p.subtext ("домашний майнинг")
                    .line
                        .svg-container
                            svg(viewBox='0 0 1955 196' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path#the-line(d='M1 195L285 16L411.5 103.5L501 55.5L623 138.5L765 79.5H909L1000.5 1L1223 151.5L1415 79.5L1568 195L1795 1L1954 38')
                                path#green-line(d='M1 195L285 16L411.5 103.5L501 55.5L623 138.5L765 79.5H909L1000.5 1L1223 151.5L1415 79.5L1568 195L1795 1L1954 38')
                            .years
                                div.years__btn.active 2014
                                div.years__btn 2017
                                div.years__btn 2018
                                div.years__btn 2021
                                div.years__btn 2022
                                div.years__btn 2023
                                div.years__btn 2024
                                div.years__btn 2025
                                div.years__btn 2026
           
        footer.footer.footer--about
            .container
                .footer__row
                    a(href="/").logo
                        img(src="./img/logo.png", alt="ЦК ГРУПП")
                    p Цифра Капитал Групп
                    ul
                        li
                            a(href='calc.html') Калькулятор
                        li
                            a(href='equipment.html') Оборудование
                        li
                            a(href='about.html') О нас
                    .contacts
                        a(href="tel:+7 (916) 954 67 19") +7 (916) 954 67 19
                        a(href="mailto:cifracapital@cifracapitalgroup.ru") cifracapital@cifracapitalgroup.ru
                        div
                            a(href="http://", target="_blank", rel="noopener noreferrer")
                                img(src="./img/social/tg.svg", alt="")
                            a(href="http://", target="_blank", rel="noopener noreferrer")
                                img(src="./img/social/whatsapp.svg", alt="")
        .modal
            .modal__form
                h2 Заказать продукт
                button(type="button").modal__close
                    img(src="./img/close.svg", alt="")
                .modal__item
                    span.form__title Ваше имя
                    input(type="text", name="" placeholder="Имя")
                .modal__item
                    span.form__title Телефон
                    input(type="tel", name="" placeholder="").phone
                .modal__item
                    span.form__title  Продукт
                    input(type="text", name="" placeholder="Bitmain Antminer T21 190 TH/s")
                .modal__item
                    span.form__title  Цена
                    input(type="text", name="" placeholder="545 000 ₽")
                .modal__item
                    .counter
                        button(type="button") -
                        input(type="text", name="" value="1")
                        button(type="button") +
                    button(type="button").btn Отправить
                p Продолжая, вы соглашаетесь с политикой конфиденциальности
    script(src='https://cdn.jsdelivr.net/npm/intl-tel-input@24.1.1/build/js/intlTelInput.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js')
    script(src='https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js')
    script(src='https://unpkg.com/gsap@3/dist/MotionPathPlugin.min.js')
    script(src='https://unpkg.com/gsap@3/dist/gsap.min.js')
    script(src='./DrawSVGPlugin3.min.js')
    script(src='./about.js')