doctype html
html
head
    title ЦК ГРУПП
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='description' content)
    meta(name='keywords' content)
    meta(name='author' content)
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes, viewport-fit=cover')
    link(rel='icon' type='image/x-icon' href='/favicon.ico')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/intl-tel-input@24.1.1/build/css/intlTelInput.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css')
    link(rel='stylesheet' href='./main.css')
body
    .wrap
        header.header
            .container
                .header__row
                    a.logo(href='/')
                        img(src='./img/logo.png' alt='ЦК ГРУПП')
                    ul.menu
                        li.menu__item
                            a.menu__link(href='calc.html') Калькулятор
                        li.menu__item
                            a.menu__link(href='') Оборудование
                        li.menu__item
                            a.menu__link(href='') О нас
                        li.menu__item
                            button.btn.application(type='button') Оставить заявку
                    button.btn.header__btn.application(type='button') Оставить заявку
                    button.burger(type='button')
                        span
                        span
                        span
        main.main
            section.hero
                .mask
                .container
                    .hero__row
                        h1 Максимум прибыли с минимальными усилиями
                        p
                            | Мы предлагаем лучшие решения для ваших инвестиций: работаем только с «белой» электроэнергией, используем сертифицированное оборудование от ведущих поставщиков и строим надежные дата-центры.
                        p Свяжитесь с нами, и начните путь к стабильному доходу!
                        button.btn.application(type='button') Оставить заявку
            section.stats-top
                .container
                    .stats-top__row
                        ul
                            li
                                span 50 МВт
                                span планируемая мощность
                            li
                                span 13 мес
                                span Средний срок окупаемости вложений наших клиентов
                            li
                                span 24/7
                                span Мы обеспечиваем поддержку круглосуточно
                            li
                                span ~99%
                                span один из самых высоких показателей на наших площадках
                        p
                            | *Внимание: итоговая прибыль может варьироваться в зависимости от текущего курса доллара, курса биткоина и сложности сети
            section.investities
                .container
                    .investities__row
                        h2 Инвестиции, которые приводят к результатам!
                        ul
                            li(data-aos='fade-right')
                                div
                                    p 01
                                    p Кейс 1
                                h3 Двойная выгода
                                p
                                    | К нам обратился клиент за помощью в покупке оборудования. Мы приобрели его в период сильного упадка рынка, что позволило существенно сэкономить. Установленное оборудование успешно проработало год и полностью окупило затраты. Когда настало время продавать его, рынок переживал фазу подъема. Благодаря удачному таймингу, компания смогла извлечь х2 прибыли как от майнинга, так и от выгодной продажи.
                            li(data-aos='fade-up')
                                div
                                    p 02
                                    p Кейс 2
                                h3 Обновление оборудования
                                p
                                    | Наш клиент Виталий столкнулся с проблемой: старое оборудование после халвинга 2024 года стало убыточным. Вместо того чтобы терять время и деньги, он обратился к нам. Мы предложили ему продать старое оборудование и подобрали новые, более мощные модели. Итог? Виталий увеличил мощность добычи на 500 TH/s и и получил хорошую скидку на новое оборудование у наших поставщиков по Trade-in.
                            li(data-aos='fade-left')
                                div
                                    p 03
                                    p Кейс 3
                                h3 Избыток мощностей
                                p
                                    | Наш клиент, владелец IT-компании, столкнулся с избытком мощностей на одном из своих объектов. Имея около 500 единиц оборудования на нашей площадке, он обратился к нам за советом. Мы предложили арендовать два ЦОДа на базе морских контейнеров и установить их на своей территории. Мы обеспечили удаленную поддержку, и уже 1,5 года наши контейнеры работают у клиента, а он наслаждается результатами.
            section.calc
                .container
                    .calc__row
                        h2 Рассчитайте стоимость в нашем калькуляторе
                        p
                            | Узнайте, сколько можно заработать, инвестируя в майнинг с «ЦК Групп». У нас есть простой и удобный инструмент, который позволяет оценить потенциальный доход. Просто введите необходимые данные, и вы получите предварительную оценку.
                        button.btn.btn--cost(type='button') Рассчитать стоимость
            section.advantage
                .container
                    .advantage__row
                        h2 В чем наше конкурентное преимущество?
                        ul
                            li(data-aos='zoom-in-right')
                                h3 Индивидуальный подход к каждому клиенту
                                p
                                    | Не верим в однообразные решения. Понимаем ваши потребности и бюджет, чтобы предложить то, что нужно, не копируя другие проекты.
                            li(data-aos='zoom-in-down')
                                h3 У нас есть опыт и знания
                                p
                                    | Мы не просто в мире майнинга — мы его часть. Наш опыт в этой сфере обеспечивает максимальную эффективность и безопасность вашего бизнеса.
                            li(data-aos='zoom-in-left')
                                h3 Безопасность наш приоритет
                                p
                                    | Используем только сертифицированное оборудование и сотрудничаем с РосГвардией для защиты наших объектов. Ваши данные — в надежных руках.
            section.data
                .line
                    span
                    span
                    span
                .container
                    .data__row
                        h2 ЦОД «Башкирский»
                        p
                            | ЦОД «Башкирский» — гордость и опора компании «Цифра Капитал Групп». Этот передовой центр обработки данных не только демонстрирует наши технологические возможности, но и подтверждает наши основные преимущества.
                        ul.list
                            li.list__item(data-aos='fade-right' data-aos-delay='600')
                                h5 Мощность и потенциал
                                p 4 МВт мощности
                                p ~ 500 единиц клиентского оборудования
                            li.list__item(data-aos='fade-right' data-aos-delay='1200')
                                h5 Инфраструктура и надёжность
                                p 2 км. кабельных линий
                                p 6 КТП (комплектные трансформаторные подстанции)
                                p Кабельная эстакада ~ 100 м
                                p Отдельная сервисная
                            li.list__item(data-aos='fade-right' data-aos-delay='1800')
                                h5 Клиенты и доход
                                p Около 10 клиентов-первопроходцев
                                p Средний чистый доход наших клиентов — $2500 в месяц
                        .data__wrap
                            .mask
                            h3 Присоединяйтесь и станьте частью мира криптовалюты!
                            ul.form
                                li.form__item
                                    span.form__title Ваше имя
                                    input(type='text' name placeholder='Имя')
                                li.form__item
                                    span.form__title Телефон
                                    input.phone(type='tel' name placeholder)
                                li.form__item
                                    span.form__title  Электронная почта
                                    input(type='email' name placeholder='youmail@gmail.com')
                                li.form__item
                                    button.btn.application(type='button') Оставить заявку
            section.services
                .mask
                .container
                    .services__row
                        h2 Полный цикл услуг
                        .tabs-content.active(data-aos='zoom-in-right')
                            p
                                | Мы понимаем, как сложно разобраться в майнинге и сделать это дело прибыльным. Поэтому берем на себя все заботы, чтобы вы могли спокойно наслаждаться результатами: 111
                            a(href='http://localhost' target='_blank' rel='noopener noreferrer') О компании
                        .tabs-content(data-aos='zoom-in-right')
                            p
                                | Мы понимаем, как сложно разобраться в майнинге и сделать это дело прибыльным. Поэтому берем на себя все заботы, чтобы вы могли спокойно наслаждаться результатами: 222
                            a(href='http://localhost' target='_blank' rel='noopener noreferrer') О компании
                        .tabs-content(data-aos='zoom-in-right')
                            p
                                | Мы понимаем, как сложно разобраться в майнинге и сделать это дело прибыльным. Поэтому берем на себя все заботы, чтобы вы могли спокойно наслаждаться результатами: 333
                            a(href='http://localhost' target='_blank' rel='noopener noreferrer') О компании
                        .tabs
                            button.active(type='button') Подбор оборудования
                            button(type='button') Хостинг оборудования под майнинг
                            button(type='button') Проектирование ЦОД
            section.equipment
                .mask
                .container
                    .equipment__row
                        .title
                            h2 Подбор оборудования
                            p
                                | Мы берем на себя все этапы, чтобы вы могли сосредоточиться на своих целях, а не проблемах с техникой. Вот как мы это делаем:
                        ul
                            li(data-aos='fade-down-right')
                                .mask
                                h5 Консультация и анализ потребностей
                                p
                                    | обсудим ваши цели и требования, чтобы подобрать оборудование, которое идеально подойдет именно вам
                            li(data-aos='fade-down-left')
                                .mask
                                h5 Организация закупки
                                p
                                    | заключаем сделки с проверенными поставщиками и поставляем оборудование напрямую из Китая
                            li(data-aos='fade-up-right')
                                .mask
                                h5 Доставка и логистика
                                p
                                    | Обеспечиваем прямую доставку оборудования из Китая на наш склад в России и оперативно транспортируем его на вашу площадку, чтобы вы получали доход как можно быстрее
                            li(data-aos='fade-up-left')
                                .mask
                                h5 Установка и настройка
                                p
                                    | устанавливаем и настраиваем оборудование, чтобы оно работало максимально эффективно
                        p.text Рассчитать стоимость размещения
                        button.btn.application(type='button') Оставить заявку
            section.hosting
                .mask
                .container
                    .hosting__row
                        .title
                            h2 Хостинг оборудования под майнинг
                            p
                                | Мы заботимся о вашем оборудовании так, как если бы это было наше собственное. Наш хостинг — это полный пакет услуг, который обеспечит максимальную эффективность и надежность ваших майнинговых ферм.
                        ul
                            li(data-aos='fade-down-right')
                                .mask
                                h5 Доставка
                                p
                                    | Оперативно доставляем оборудование на площадку, чтобы вы могли как можно быстрее начать работу и получать доход.
                            li(data-aos='fade-down-left')
                                .mask
                                h5 Профессиональная установка
                                p
                                    | Опытные специалисты настроят всё необходимое — от прошивки до настройки пулов. Мы используем проверенный софт и современные технологии, включая энергосберегающие прошивки для снижения затрат в период упадка рынка и высокопроизводительные прошивки для максимизации дохода в периоды роста рынка.
                            li(data-aos='fade-up-right')
                                .mask
                                h5 Сервис:
                                p
                                    | Не только устанавливаем и настраиваем оборудование, но и следим за его состоянием. Регулярная чистка и продувка, базовый ремонт прямо на площадке, диагностика, перепрошивка и выставление режимов добычи — всё для бесперебойной работы.
                            li(data-aos='fade-up-left')
                                .mask
                                h5 Постоянный мониторинг
                                p
                                    | Системы мониторинга работают круглосуточно, отслеживая всё, что происходит с оборудованием. В случае непредвиденных ситуаций наши специалисты готовы действовать даже ночью. Наши ЦОД отвечают всем современным требованиям пожарозащиты — датчики дыма, температуры и движения, камеры с отслеживанием и многое другое.
                        p.text Рассчитать стоимость размещения
                        button.btn.application(type='button') Оставить заявку
            section.design
                .mask
                .container
                    .design__row
                        .title
                            h2 Проектирование и установка ЦОД
                            p
                                | Хороший ЦОД — это не просто помещение с кондиционерами и кабелями. Это сложный и продуманный проект, требующий профессионального подхода на каждом этапе. Наша услуга проектирования ЦОД включает всё необходимое для создания идеального пространства для вашего оборудования.
                        ul
                            li(data-aos='zoom-in-right')
                                .mask
                                h5 Планирование и анализ
                                p
                                    | На первом этапе тщательно анализируем ваши потребности и требования. Это включает в себя изучение бизнес-целей, расчёт необходимых мощностей и проектирование инфраструктуры
                            li(data-aos='zoom-in-left')
                                .mask
                                h5 Выбор подрядчиков и материалов
                                p
                                    | Работаем с проверенными подрядчиками и поставщиками много лет, что гарантирует высокое качество всех элементов
                            li(data-aos='zoom-in-right')
                                .mask
                                h5 Проектирование
                                p
                                    | Мы привлекаем опытных проектировщиков, которые работали над строительством объектов критической инфраструктуры. Они учитывают все особенности почвы и климата региона. Мы нанимаем геодезистов для исследования грунтовых вод и подземных коммуникаций, чтобы обеспечить надёжность проекта.
                            li(data-aos='zoom-in-left')
                                .mask
                                h5 Строительство и монтаж
                                p
                                    | После утверждения проекта начинается этап строительства. Мы контролируем все этапы — от возведения здания до монтажа оборудования
                            li(data-aos='zoom-in-right')
                                .mask
                                h5 Установка систем безопасности
                                p
                                    | Устанавливаем защиту от пожаров, сигнализации, датчики движения и камеры для круглосуточного мониторинга. Это гарантирует высокий уровень безопасности и защиту от внешних угроз
                            li(data-aos='zoom-in-left')
                                .mask
                                h5 Запуск и тестирование
                                p
                                    | На завершающем этапе мы проводим пуско-наладочные работы и тестирование систем. Убедимся, что всё работает на максимуме и готовим ЦОД к полноценному запуску
                        p.text Рассчитать стоимость размещения
                        button.btn.application(type='button') Оставить заявку
            section.progress
                .mask
                .container
                    .progress__row
                        .title
                            h2 Почему майнить выгодно?
                            p
                                | Майнинг в России — это возможность зарабатывать в легальном и полностью регулируемом поле, превращая энергию в доход. С недавней легализацией майнинга вы получаете доступ к стабильному и официальному источнику пассивного дохода, свободному от санкционных ограничений. Преимущества российского климата и избыток электроэнергии создают идеальные условия для прибыльной работы оборудования, а наша аккредитация Министерством цифрового развития подтверждает, что вы можете доверить нам свои активы без сомнений.
                        ul
                            li
                                span(style='width: 8%;' data-aos='fade-right') 7-8%
                                span Банковские вклады и накопительные счета
                            li
                                span(style='width: 25%;' data-aos='fade-right') 20-25%
                                span Акции
                            li
                                span(style='width: 15%;' data-aos='fade-right') 13-15%
                                span Недвижимость
                            li
                                span(style='width: 35%;' data-aos='fade-right') 20-35%
                                span Валютный рынок
                            li
                                span(style='width: 35%;' data-aos='fade-right') 15-35%
                                span Бизнес и производство
                            li
                                span(style='width: 70%;' data-aos='fade-right') 70%
                                span Майнинг криптовалют
            section.stats-bottom
                .container
                    .stats-bottom__row
                        p
                            | *Внимание: итоговая прибыль может варьироваться в зависимости от текущего курса доллара, курса биткоина и сложности сети
                        ul
                            li
                                span 50 МВт
                                span Объем инвестиций
                            li
                                span 120 шт
                                span Кол-во борудования
                            li
                                span 1,26 BTC
                                span Доход в месяц
                            li
                                span 9 мес
                                span Окупаемость
            section.mining
                .container
                    .mining__row
                        .mining__wrap
                            .mask
                            h3 Погрузитесь в мир майнинга с нами!
                            p Давно хотели стать частью криптомира? Мы станем вашим надежным партнером
                            ul.form
                                li.form__item
                                    span.form__title Ваше имя
                                    input(type='text' name placeholder='Имя')
                                li.form__item
                                    span.form__title Телефон
                                    input.phone(type='tel' name placeholder)
                                li.form__item
                                    span.form__title  Электронная почта
                                    input(type='email' name placeholder='youmail@gmail.com')
                                li.form__item
                                    button.btn.application(type='button') Оставить заявку
        footer.footer
            .container
                .footer__row
                    a.logo
                        img(src='./img/logo.png' alt='ЦК ГРУПП')
                    p Цифра Капитал Групп
                    ul
                        li
                            a(href='calc.html') Калькулятор
                        li
                            a(href='#') Оборудование
                        li
                            a(href='#') О нас
                    .contacts
                        a(href='tel:+7 (916) 954 67 19') +7 (916) 954 67 19
                        a(href='mailto:cifracapital@cifracapitalgroup.ru') cifracapital@cifracapitalgroup.ru
                        div
                            a(href='http://' target='_blank' rel='noopener noreferrer')
                                img(src='/img/social/tg.svg' alt)
                            a(href='http://' target='_blank' rel='noopener noreferrer')
                                img(src='/img/social/whatsapp.svg' alt)
    script(src='https://cdn.jsdelivr.net/npm/intl-tel-input@24.1.1/build/js/intlTelInput.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js')
    script(src='./main.js')