body {
  font-family: $manrope;
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 400;
  color: $white;
  background: $dark;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.container {
  margin: 0 auto;
  max-width: 126rem;
  padding: 0 2rem;
}
.wrap {
  // overflow: hidden;
  &--about {
    background: #070709;
  }
}
.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: $black;
  opacity: 0.5;
  z-index: -1000;
  @media (min-width: 992px) {
    display: none;
  }
}
.isLock {
  overflow: hidden;
}
.main {
  overflow: hidden;
  position: relative;
  &--def {
    overflow: inherit;
  }
  .el1 {
    display: none;
    @media (min-width: 1200px) {
      // background-position: right;
      display: block;
      position: absolute;
      top: 2200px;
      left: -1830px;
      content: '';
      width: 3385px;
      height: 2200px;
      filter: blur(200px);
      background: radial-gradient(
        circle,
        rgba(19, 28, 255, 1) 0%,
        rgba(19, 28, 255, 0) 50%
      );
      opacity: 0.7;
      transform: translate3d(0, 0, 0);
    }
  }
  .el2 {
    display: none;
    @media (min-width: 1200px) {
      // background-position: right;
      display: block;
      position: absolute;
      top: 3750px;
      right: -1150px;
      content: '';
      width: 2648px;
      height: 2634px;
      filter: blur(200px);
      background: radial-gradient(
        circle,
        rgba(19, 28, 255, 1) 0%,
        rgba(19, 28, 255, 0) 50%
      );
      opacity: 0.5;
      transform: translate3d(0, 0, 0);
    }
  }
  .el3 {
    display: none;
    @media (min-width: 1200px) {
      // background-position: right;
      display: block;
      position: absolute;
      bottom: 265px;
      left: -1385px;
      content: '';
      width: 3040px;
      height: 1895px;
      filter: blur(200px);
      background: radial-gradient(
        circle,
        rgba(19, 28, 255, 1) 0%,
        rgba(19, 28, 255, 0) 50%
      );
      opacity: 0.5;
      transform: translate3d(0, 0, 0);
    }
  }
}
